<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- <div class="container"> -->
  <a class="navbar-brand" href="#">
    <img
      src="assets/img/logo/promo33.png"
      width="150"
      height="60"
      class="d-inline-block align-top"
      alt=""
    />
  </a>
  <!-- Right side of navbar -->
  <ul class="navbar-nav ml-auto">
    <li *ngIf="!ClientConnected" class="nav-item">
      <a class="nav-link" href="login">Connexion</a>
    </li>
    <li *ngIf="ClientConnected" class="nav-item">
      <a class="nav-link" href="profil">Profil</a>
    </li>
    <li *ngIf="ClientConnected" class="nav-item">
      <a class="nav-link" href="mybookings">Mes Réservations</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="addpromotion">Créer une promotion</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="bookingmanagement">Gérer les Réservations</a>
    </li>
    <li *ngIf="ClientConnected" class="nav-item">
      <a class="nav-link" href="#">Se Déconnecter</a>
    </li>
  </ul>
  <!-- </div> -->
</nav>
