<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <div class="container">
    <a class="navbar-brand">Promo 33</a>
      <!-- Left side of navbar -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link " href="#">Accueil</a>
        </li>
      </ul>
      <!-- Right side of navbar -->
      <ul class="navbar-nav ml-auto">
        <li *ngIf= "!ClientConnected" class="nav-item">
          <a class="nav-link" href="login">Connexion</a>
        </li>
        <li *ngIf= "!ClientConnected" class="nav-item">
          <a class="nav-link" href="#">Inscription</a>
        </li>
        <!-- <li *ngIf= "ClientConnected" class="nav-item">
          <a class="nav-link" href="#">Mes Promotions</a>
        </li> -->
        <li *ngIf= "ClientConnected"  class="nav-item">
          <a class="nav-link" href="#">Mes Réservations</a>
        </li>
      </ul>
  </div>
</nav>