.jumbotron {
    background-image: 
    url('../../../../assets/img/souk.jpg');
    background-size: cover;
    min-height: 380px;
}

.panel {
    opacity: 0.75;
}

input {
    width: 60%;
}

// range / cursor

.slider {
    -webkit-appearance: none;
    width: 80%;
    height: 15px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
  }
  
.localisation input {
    width:30%;
}
  