<!-- Bannière -->
<div class="jumbotron text-center">
  <div class="panel bg-dark text-white pb-2">
    <h1 class="display-4 ">Les meilleurs deals du coin</h1>
    <h2>Un maximum de promos au même endroit !!!</h2>
    <form class="justify-content-center px-5">
      <input class="form-control bg-light mx-auto" type="search" placeholder="Rechercher" aria-label="Rechercher">
      <button class="btn btn-success btn-lg mt-2" type="submit">
          Vite une promo !
      </button>
    </form>
  </div>
</div>