.jumbotron {
    background-image: 
    url('../../../../assets/img/souk.jpg');
    background-size: cover;
    min-height: 380px;
}

.panel {
    opacity: 0.75;
}

input {
    width: 60%;
}
  
.localisation input {
    width:25%;
}
  