<div class="card text-center">
  <img class="card-img-top" [src]="icon" alt="">
  <div class="card-body">
    <h5 class="text-info">{{title}}</h5>
    <h5 class="card-title">{{referenceProduct}}</h5>
    <del>{{price}} €</del>
    <h5 class="text-danger">{{newPrice}} €</h5>
    <p class="card-text">Date d'expiration : {{limitDatePromotion | date:'dd/MM/yyyy'}}</p>
    <p class="card-text">Délai de retrait : {{limitTimeWithdrawPromotion}}</p>
    <p class="card-text">Quantité(s) restante : {{quantityAvailable}} Unité(s)</p>
    <div class="input-group">
      <select class="custom-select">
        <option selected>Quantité(s)</option>
       <option *ngFor="let in of counter(quantityAvailable) ;let i = index">{{i+1}}</option>
      </select>
      <div class="input-group-append">
        <button type="button" class="btn btn-outline-info btn-sm" [disabled]="!ClientConnected">
          <i class="material-icons">add_shopping_cart</i>
        </button>
      </div>
    </div>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
  <div class="card-footer bg-transparent">
      <button type="button" class="btn btn-outline-success btn-lg btn-block" (click)="openModalWithComponent()">Détails</button>
    <!-- <a href="#" class="btn btn-outline-success btn-lg btn-block">Réserver</a> -->
  </div>
</div>