<div class="container">

  <hr>
  <h2 class="text-center">Gérer mes réservations</h2>
  <hr>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Produit</th>
        <th scope="col">Quantité réservée</th>
        <th scope="col">Date de réservation</th>
        <th scope="col">Code de retrait</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bookedPromo of bookedPromoList">
        <form class="justify-content-center px-5" [formGroup]="validateBookingForm" (ngSubmit)="onSubmit()">
          <td>
            <img src="assets/img/products/{{bookedPromo.reservationProduct.promotion.product.image}}">
            {{bookedPromo.reservationProduct.promotion.product.referenceProduct.name}}</td>
          <td>{{bookedPromo.reservationProduct.quantityRequested}}</td>
          <td>{{bookedPromo.dateCreation | date:'dd/MM/yyyy'}}</td>
          <td>
            <input type="text" class="form-control" required>
          </td>
          <td>
            <button type="submit" class="btn btn-success" formControlName="code">Valider</button>
          </td>
        </form>
      </tr>
    </tbody>
  </table>
</div>
